/node_modules
/dist
/.next
/.git
/.env
/*.db
/*.db-journal
/npm-debug.log*
/yarn-debug.log*
/yarn-error.log*
/.idea
/.vscode
/.dockerignore
/Dockerfile*
/docker-compose*
/README.md
/analysis_options.yaml
/android
/ios
/lib
/hsabati.iml
/pubspec.lock
/pubspec.yaml
/test
/web
/src
/server.js
/hsabati.iml
